.header {
  width: 100%;
  height: 50px;
  background-color: rebeccapurple;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 50px;
}

.menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.menuLink {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
}

.menuLink:last-child {
  margin-right: 0;
}

.menuLink:hover {
  opacity: 0.8;
}

.languageButton {
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.languageButton:last-child {
  margin-right: 0;
}
